.profile-img {
  border-radius: 50%;
  box-shadow: 0 0 0 28px rgba(0,0,0,0.25), 0 0 0 14px rgba(0,0,0,0.22);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lato', 'san-serif';
  margin: 5rem;
}

