@import 'imports.scss';
@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div#__next {
  height: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


// _app.tsx css
// .dark {
//   animation: darkChange 10s infinite;
// }


// .light {
//   animation: lightChange 10s infinite;
// }

// @keyframes lightChange{
//   0% {background:#000}
//   25% {background: #bae1ff}
//   50% {background: #baffc9}
//   75% {background: #ffb3ba}
//   100% {background: #ffdfba}
// }

// @keyframes darkChange{
//   0% {background:#ffffba}
//   25% {background: #bae1ff}
//   50% {background: #baffc9}
//   75% {background: #ffb3ba}
//   100% {background: #ffdfba}
// }